

.sideBar{
  padding-top: 150px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  color: white;
  width: 200px;
  height: fill;

}

.breaktitle{


}

h1 {
  position: absolute;
  letter-spacing: 14px;
  font-size: 75px;
  margin-left: 425px;
  margin-right:225px;
  width: auto;
  top: 310px;
  color: black;
  overflow: hidden;
  white-space: nowrap;


}

h3 {
position: absolute;
top: 445px;
left: 360px;
font-size:23px;
font-family: 'Nanum Myeongjo', serif;
text-align: center;
width: 900px;
}
.sideBarRow {
  top: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  color: white;
  font-family: 'Nanum Myeongjo', serif;

}

.sideBarRow a {
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  text-decoration: none;
}

.sideBarRow a:hover {
  background-color: grey;
  border-style: hidden;
}

.sideBarRow a.active {
  border-color: white;
  border-width: 3px;
  border-style: solid;
  background-color: black;
}
/*
.sideBarRow a:active {
  border-color: white;
  border-width: 3px;
  border-style: solid;
  background-color: black;
} */

.blackRightBar {
  position: fixed;
  background-color: black;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;

}

.homeimg{
  position: fixed;
  top: 150px;
  left: 800px ;

}
.logoimg{
  position:absolute;
  top:0;
  left: 0;
}
.blurb {
  position: fixed;
  top: 340px;
  left: 250px;
  right: 700px;
  text-align: center;

}





/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 800px;
  top: 250px;
  margin-left: 300px;
  margin-right: 100px;
  margin-bottom: 50px;
  align-content: center;
  width: 1000px;

}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  height: 35px;

}


#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
.photos {
  margin-left: 280px;
  margin-right: 100px;
  margin-top: 40px;
  overflow-x: visible;
  white-space: nowrap;
  height: 300px;


}
