.sideBar{
  padding-top: 150px;
  padding-bottom: 150px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0px;
  background-color: black;
  color: white;
  width: 200px;
}


/* .extend {
    padding-top: 150px;
    padding-bottom: 150px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0px;
    background-color: black;
    color: white;
    width: 200px; */

  }



h1 {
  letter-spacing: 14px;
  font-size: 75px;
  white-space: nowrap;

}

h3 {
position: fixed;
top: 270px;
left: 180px;
padding-left: 210px;
font-size:23px;
font-family: 'Nanum Myeongjo', serif;
}
.sideBarRow {
  top: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  color: white;
  font-family: 'Nanum Myeongjo', serif;

}

.sideBarRow a {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: white;
  text-decoration: none;
}

.sideBarRow a:hover {
  background-color: grey;
  border-style: hidden;
}

.sideBarRow a.active {
  border-color: white;
  border-width: 3px;
  border-style: solid;
  background-color: black;
}


.logoimg{
  position:fixed;
  top:0;
  left: 0;
}

h1 {
  letter-spacing: 14px;
  font-size: 75px;
  padding-top: 50px;
  padding-left: 500px;
}

h4 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 35px;
  letter-spacing: 5px;
  padding-left: 240px;
  white-space: nowrap;

}

.clearfix{
  clear:both;
}

.pic {
  height: 380px;
  width: 300px;
  padding-left: 20px;
}


.playlist{
  padding-top:2px;
  padding-left: 690px;
  float: left;
  padding-bottom: 40px;
  overflow: scroll;
  white-space: nowrap;

}
.musicpic{
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 40px;
  float:left;
}

hr {
  display: block;
  margin-top: 2px;
  margin-bottom:20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  min-width: 1350px;
  overflow: hidden;



}

.blurb {
  position: absolute;
  margin-left: 240px;
  text-align: center;
  font-size: 30px;
  max-width: 400px;
  min-width: 300px;

}
