h2 {
  letter-spacing: 14px;
  font-size: 40px;
  padding-top: 20px;
  padding-left: 370px;
}

h3 {
 font-size: 30px;
 text-align: center;
 padding-right: 100px;
 font-family: 'Nanum Myeongjo', serif;
}
.middleAuthor{
  padding-top: 50px;
  padding-left: 650px;
  left: 500px;
  top: 65px;
  color: black;
  font-size: 40px;
  font-family: 'Nanum Myeongjo', serif;
}

h4{
  font-size: 25px;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;

  }

h5{
  font-size: 20px;
  font-family: 'Nanum Myeongjo', serif;

}


.tip{
  padding-right: 100px;
}

p {
  padding-left: 400px;
  padding-right: 80px;
  font-size: 15px;

}

img {
    float:left;
}

h6 {
  padding-top: 100px;
  font-size: 25px;
  text-align: center;
}


.sideBar{
  padding-top: 150px;
  padding-bottom: 150px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0px;
  background-color: black;
  color: white;
  width: 200px;

}

.sideBarRow {
  top: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 30px;
  color: white;
}

.sideBarRow a {
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  text-decoration: none;
}

.sideBarRow a:hover {
  background-color: grey;
  border-style: hidden;
}

.sideBarRow a.active {
  border-color: white;
  border-width: 3px;
  border-style: solid;
  background-color: black;
}


.logoimg{
  position:fixed;
  top:0;
  left: 0;
}

}
.instrument{
  padding-top:5px;
  padding-left: 400px;
}


.Title{

  padding-top: 110px;
  padding-left: 500px;
  left: 500px;
  top: 65px;
  color: black;
  font-size: 75px
}

.lofi{
  padding-top:5px;
  padding-left: 400px;
  padding-right: 80px;
  padding-bottom: 100px;
  float: left;
}


}
.white{
  padding-top:5px;
  padding-left: 450px;
  right: 500px;
}


.colimg{
  width: 20px;
}
